

@*iconlar üzerinde sayı oluşturmaya yarayan kod*@
@*<small class="d-flex align-items-center justify-content-center"></small>*@



<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
    </div>
    <div class="img bg-wrap text-center py-4" style="background-image: url(/Template/meyawo/assets/imgs/programmer.jpg);">
        <div class="user-logo">
            <div class="img" style="background-image: url(/Template/meyawo/assets/imgs/me.jpg);"></div>
            <h3>ömer faruk gözegir</h3>
        </div>
    </div>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="/Default/Index"><span class=" fa fa-level-up mr-3"></span> Portfolio</a>
        </li>
        <li>
            <a href="/Statistic/Index/"><span class="fa fa-signal mr-3"></span> DashBoard/İstatistik</a>
        </li>
        <li>
            <a href="/Contact/Index"><span class="fa fa-envelope-o mr-3"></span> Mesajlar</a>
        </li>
        <li>
            <a href="/Category/Index/"><span class="fa fa-folder-open mr-3"></span> Kategoriler</a>
        </li>
        <li>
            <a href="/Project/Index/"><span class="fa fa-tasks mr-3"></span>Projelerim</a>
        </li>
        <li>
            <a href="/About/Index/"><span class="fa fa-users mr-3"></span> Hakkımda</a>
        </li>
        <li>
            <a href="/Service/Index/"> <span class="fa fa-bolt mr-3"></span>Hizmetlerim</a>
        </li>
        <li>
            <a href="/Testimonial/Index/"><span class="fa fa-user-plus mr-3"></span> Referanslar</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-sign-out mr-3"></span> Çıkış</a>
        </li>
    </ul>

</nav>
