@using MeyawoPortfolio.Models
@model List<TBLABOUT>

<section class="section pt-0" id="about">
    <!-- container -->
    <div class="container text-center">
        <!-- about wrapper -->
        @foreach (var item in Model)
        {
            <div class="about">
                <div class="about-img-holder">
                    <img src="@item.ImageUrl" class="about-img"
                         alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div>
                <div class="about-caption">
                    <p class="section-subtitle"></p>
                    <h2 class="section-title mb-3">@item.Title</h2>
                    <p>
                        @item.Description
                        <br />
                        Hatay İskenderun Teknik Üniversitesi İskenderun Teknik Üniversitesi Bilgisayar Mühendisliği programı son sınıf lisans öğrencisiyim.Yazılıma ilk başta C++ öğrenerek, Java/Javafx ,C# dilleri ile devam ettim.Kendimi yazılım alanında sürekli geliştirmeye,araştırmaya ve öğrenmeye çalışıyorum.
                        Bilgisayar dünyasının karmaşıklığı ve sürekli gelişen doğası beni her zaman cezbetmiştir. Programlama dilleri, veri yapıları ve algoritmalarla olan yakın ilişkim, projeler üreterek devam etmeme katkı sağlıyor. Sadece teorik bilgilerle yetinmeyip, stajlar ve kişisel projelerle pratik deneyim kazanmaya odaklanarak, yazılım geliştirme süreçlerini daha yakından anlamaya çalışıyorum. Öğrenmeye ve kendimi geliştirmeye olan tutkum, teknolojinin sınırlarını zorlama arzusu ve ekip çalışmasına olan inancım, bilgisayar mühendisliği yolculuğumun temelini oluşturuyor.Gelecekteki kariyerimde teknoloji dünyasına katkı sağlama ve sürdürülebilir çözümler üretme amacıyla heyecanla ilerliyorum."

                    </p>
                    <button class="btn-rounded btn btn-outline-primary mt-4"><a download href="/Template/personality/ÖzGeçmişim.pdf" >Cv'mi İndir'</a></button>
                    
                </div>
            </div><!-- end of about wrapper -->
        }
        

    </div><!-- end of container -->

</section>
