
@{
    Layout = null;
}

<section class="section pt-0" id="about">
    <!-- container -->
    <div class="container text-center">
        <!-- about wrapper -->
        <div class="about">
            <div class="about-img-holder">
                <img src="https://hizliresim.com/9yp99gj" class="about-img"
                     alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
            </div>
            <div class="about-caption">
                <p class="section-subtitle">Full Stack Developer Aday Adayı</p>
                <h2 class="section-title mb-3">Ömer Faruk GÖZEGİR</h2>
                <p>
                    Akademik kariyerim boyunca edinmiş olduğum bilgiler ışığında yazılım ve yazılım teknolojilerine hakimim.<br />
                    Sürdürülebilir yazılımlar üretmeyi amaçlamaktayım. <br />
                    Hedefim eğitim öğretim hayatım içerisinde ve dışarısında edinmiş olduğum bilgi ve becerilerimi bir adım ileriye taşımak, sektörde öncü rol almak.
                </p>
                <!--
                    <button class="btn-rounded btn btn-outline-primary mt-4">Download CV</button>
                -->

            </div>
        </div><!-- end of about wrapper -->
    </div><!-- end of container -->
</section>