<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <title>MeyaWo Portfolio Uygulaması</title>
    <!-- font icons -->
    <link rel="stylesheet" href="~/Template/meyawo/assets/imgs/avatar2.jpg">
    <!-- Bootstrap + Meyawo main styles -->
    <link rel="stylesheet" href="~/Template/meyawo/assets/css/meyawo.css">
</head>
