
@using MeyawoPortfolio.Models
@model List<TBLABOUT>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hakkımda Yönetim Sayfası </h2>

<table class="table table-bordered">
    <tr>
        <th>Alt Başlık</th>
        <th>Ana Başlık</th>
        <th>Açıklama</th>
        <th>Fotograf Yolu</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Header</td>
            <td>@item.Description</td>
            <td>@item.ImageUrl</td>
            <td><a href="/About/Update" class="btn btn-outline-info">Güncelle</a></td>

        </tr>
    }


</table>
