@model MeyawoPortfolio.Models.TBLCATEGORY 
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategori Güncelleme</h2>

<form method="post">
    <label>Kategori ID</label>
    <input type="text" class="table table-bordered" value="@Model.CategoryID" name="CategoryID" readonly />
    <br />
    <label>Kategori Adı</label>
    <input type="text" class="table table-bordered" value="@Model.CategoryName" name="CategoryName" />
    <br />
    <button class="btn btn-outline-info">Kategori Güncelle</button>
</form>

