@model List<MeyawoPortfolio.Models.TBLSERVİCE>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vermiş Olduğum Hizmetler</h2>

<table class=" table table-bordered">
    <tr>
        <th>#</th>
        <th>başlık</th>
        <th>sil</th>
        <th>güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ServiceID</td>
            <td>@item.Title</td>
            <td><a href="/Service/DeleteService/@item.ServiceID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Service/UpdateService/@item.ServiceID" class="btn btn-outline-secondary">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Service/CreateService/" class="btn btn-outline-primary">Yeni hizmet girişi</a>